@font-face {
    font-family: "star wars";
    src: url("../star_jedi/starjout/Starjout.ttf");
}

body {
    font-size: 20px;
    background: url("stars.jpg");
    font-family: STARWARS;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 32px;
}

#StarWarslogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ol {
    display: flex;
}

nav ol li {
    margin: 0px 16px;
    list-style: none;
}

nav ol li a {
    text-decoration: none;
    font-family: "star wars";
}